server:
  port: 8080

spring:
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  mail:
    host: smtp.gmail.com
    port: 587
    username: skywaysesferabwing@gmail.com
    password: nakn jzjv djxy dmra
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
