<!DOCTYPE html>
<html>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #000;">

  <p>Dear Flat Owner of <b>{{name}}</b>,</p>

  <p>
    Please find attached the society maintenance bill for the period
    <b>Jan 2026 – Mar 2026</b>.
  </p>

  <p>
    Kindly make the payment on or before
    <b>30-Jan-2026</b>.
    Your timely payment helps us serve you better.
  </p>

  <p>
    After completing the payment, please share the transaction screenshot
    using the Google Form link below:
  </p>

  <p>
    <a href="https://forms.gle/TuKjVu7MyPuLpifw5" target="_blank">
      https://forms.gle/TuKjVu7MyPuLpifw5
    </a>
  </p>

  <p>
    If you have any questions or require corrections, please reply to this
    email with the details.
  </p>

  <p><b>Notes:</b></p>
  <ul>
    <li>
      Sinking fund formula:
      <br/>
      <i>(1500 sq × 0.25% × Carpet Area / 12 months × 3 months)</i>
    </li>
    <li>
      As discussed in the SGM, the due date is extended by 10 days
      considering quarterly payments and bill preparation time.
    </li>
    <li>
      Cheque payments should be made in favour of:
      <br/>
      <b>SKYWAYS ESFERA B WING CO-OPERATIVE HOUSING SOCIETY</b>
    </li>
    <li>
      In case of cheque bounce, the respective owner will bear the charges.
    </li>
  </ul>

  <p>
    Thanks &amp; Regards,<br/>
    <b>Amol Shinde</b><br/>
    Treasurer<br/>
    Skyways Esfera B Wing Housing Society Ltd
  </p>

</body>
</html>
