<!DOCTYPE html>
<html>
<body style="margin:0;padding:0;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.5;color:#000;">

<div>
Dear Flat Owner of <b>{{name}}</b>,
</div>

<br>

<div>
Please find attached the society maintenance bill for the period
<b>Jan 2026 – Mar 2026</b>.
</div>

<br>

<div>
Kindly make the payment on or before
<b>30-Jan-2026</b>.<br>
Your timely payment helps us serve you better.
</div>

<br>

<div>
After completing the payment, please share the transaction screenshot
using the Google Form link below:
</div>

<div>
<a href="https://forms.gle/TuKjVu7MyPuLpifw5">
https://forms.gle/TuKjVu7MyPuLpifw5
</a>
</div>

<br>

<div>
If you have any questions or require corrections, please reply to this email with details.
</div>

<br>

<div><b>Notes:</b></div>

<div>
1. Sinking fund formula:<br>
(1500 sq × 0.25% × Carpet Area / 12 months × 3 months)
</div>

<br>

<div>
2. As discussed in the SGM, the due date is extended by 10 days considering quarterly payments.
</div>

<div>
3. Cheque payments should be in favor of:<br>
<b>SKYWAYS ESFERA B WING CO OPERATIVE HOUSING SOCIETY</b>
</div>

<div>
4. In case of cheque bounce, the respective owner will bear the charges.
</div>

<br>

<div>
Thanks &amp; Regards,<br>
<b>Amol Shinde</b><br>
Treasurer<br>
Skyways Esfera B Wing Housing Society Ltd
</div>

</body>
</html>
